body{
    font-family: Arial, Helvetica, sans-serif;

    ;
    background-color: black;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }

  h1 {
    margin-top: 0;
  }
  
  label{
    padding: 20px;
    margin-right: 10px;
    font-weight: bold;
  }

  input {
    padding: 8px;
    margin-right: 10px;
    
  }
  
  button {
    padding: 8px 15px;
    background-color: #f39c12;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  #error-message{
    color: red;
    margin-top: 20px;
  }

.firework{
    position: fixed;
    background-image: url('../image/star.png');
    width: 50px;
    height:50px;
    background-size: cover;
}

#welcome-message {
    font-size: 60px; 
    color: #fff; 
    text-transform: uppercase; 
    font-family: 'Arial', sans-serif; 
    letter-spacing: 4px;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff; /* Text shadow for the neon glow effect */
    animation: flicker 1s infinite alternate; 
}
@keyframes flicker {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

.hidden {
    display: none
}
  